<div class="tile">
    <h3 data-translate="USER" class="tile-title"></h3>
    <p>{{'Hello' | reverse}}</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>User Name</th>
          <th>Location</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="user in $ctrl.users">
          <td></td>
          <td data-ng-bind="user.name"></td>
          <td data-ng-bind="user.location"></td>
          <td data-ng-bind="user.age"></td>
        </tr>
      </tbody>
    </table>
    <div class="tile-footer">
      <input type="text" name="username" data-ng-model="$ctrl.nameFilter" />
      <button class="btn btn-primary" data-ng-click="$ctrl.filterUserName()">Filter</button>
    </div>
  </div>
